#box1 {
    border: 5px solid;
    font-size: 20px;
    width: 250px;
    height: 250px;
    background: green;

    

}

#box2 {
    border: 5px solid;
    font-size: 20px;
    width: 250px;
    height: 250px;
    background: red;

    
}

#box3 {
    border: 5px solid;
    font-size: 20px;
    width: 250px;
    height: 250px;
    background: yellow;
}

/*FLOAT PRACTICE*/

img {
    float: right;
}

#section1 {
    margin-bottom: 200px;
}

.box {
    border: 2px solid;
    font-size: 50px;
    padding: 5px;
    background: blue;
    height: 200px;
    width: 200px;

    position: relative;

    float: right;
    top: 200px;
    right: 50px;



}


/* ----------PSEUDOCODE-------------*/

a:link {
    color: brown;
}

a:hover {
    color: yellow;
}

a:visited {
    color: black
}

a:active {
    color: blue;
}

button:hover {
    background-color: teal;
}

/*
li:nth-child(5) {
    background-color: yellow;
}
    */

li:nth-child(even) {
    background-color: yellow;
}
li:nth-child(odd) {
    background-color: blue;
}


/* TEXT SHADOW PRACTICE */

h2{
    text-shadow: 0px 0px 5px yellow, 0px -5px 3px red;
}

h2:hover {
    box-shadow: 5px 5px 3px black;
}


/* TRANSFORM PRACTICE */

#box10 {
    border: 5px solid;
    font-size: 20px;
    width: 250px;
    height: 250px;
    background: green;
    margin-top: 100px;

   
   


    /*
    animation: mySlide;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
    */

   animation: 5s ease-in-out 0s infinite running myScale;
   animation: 5s ease-in-out 0s infinite running myColorChange;


    
}

#box10:hover {
     animation: 5s ease-in-out 0s infinite running mySlide;
}

#box10:active {
    animation: 5s ease-in-out 0s infinite running myRotate;
}



@keyframes mySlide {
    from {margin-left: 100%;}
    to {margin-left: 0%;}
}

@keyframes myRotate {
    100% {transform: rotate(360deg)}

}


@keyframes myOpacity {
    50% {opacity: 0;}
}

@keyframes myScale {
    50% {transform: scale(0.5);}
}

@keyframes myColorChange {
    0% {background-color: red;}
    25% {background-color: yellow;}
    50% {background-color: green;}
    75% {background-color: blue;}
    100% {background-color: purple;}
}